.font{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.all-section{
    display: flex;
}
.head{
    width: 50%;
    padding: 5%;
}
.head img{
    width: 100%;
    size: 50px;
    
}
.head-color{
    color: rgb(245, 165, 73);
}
h2{
    font-size: 70px;
    padding-left: 10px;
}
#img-pad{
    padding-bottom: 30px;
}
#border1{
    border-left: 8px solid black;
    border-color: rgb(243, 195, 64);
}
.button1{
    background-color: rgb(255, 97, 118);
    text-decoration: none;
    width: 650;
    color: white;
    padding: 15px 40px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    border-top: white 20px;
}
#center{
    text-align: center;
    border-left: none 50px;
    margin-left: 300px;
    font-family: 'Poppins', sans-serif;
}
.nd-section{
    
    background-color: rgba(106, 188, 255, 0.555);
    box-shadow: 10px 10px 50px;
    border-left: 20px;
    width: 270px;
    height: 480px;
    margin-left: 200px;
    border-radius: 9px;
    margin-bottom: 50px;
    
}
.nd-section img{
    width: 100%;
}
#second-sec{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.paragraph{
    text-align: center;
}
.therd-sec{
    display: flex;
    font-family: 'Poppins', sans-serif;   
}
.therd-fx{
    width: 50%;
    padding: 5%;
    display: flex;
    margin-top: 150px;
}
.therd-fx img{
    width: 500px;
    margin-left: 100px;
    
    
}    
.para2{
   margin-left: 120px;
   
}
.fourth-sec{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.fourth-fx{
    width: 50%;
    padding: 5%;
    display: flex;
    margin-top: 150px;
}
.fourth-fx img{
    width: 500px;
    margin-left: 200px;
}
.year-color{
    color: tomato;
}
.end{
    background-color: black ;
    background-size: 50px 100px;
    margin: 0;
    padding: 50px;
}
.mission-color{
     color: white;
}
body{
    margin: 0;
}
footer{
    color: rgba(255, 255, 255, 0.705);
    text-align: center;
    
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.background{
    background-color: skyblue;
    background-position: 100%;
    color: rgb(26, 10, 1);
    text-align: center;
    margin: 400px 500px;
    text-decoration: none;
    border-radius: 7px;
    box-shadow: gray 10px 5px 50px;
   
}
.span1{
    color: red;
}
.paragraph{
    padding: 5px;

}
h1{
    padding-top: 20px;
}
#email{
margin-bottom: 20px;
}

.input1{
    padding-bottom: 20px;
}