.font{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.all-section{
    display: flex;
}
.head{
    width: 50%;
    padding: 5%;
}
.head img{
    width: 100%;
    size: 50px;
    
}
.head-color{
    color: rgb(245, 165, 73);
}
h2{
    font-size: 70px;
    padding-left: 10px;
}
#img-pad{
    padding-bottom: 30px;
}
#border1{
    border-left: 8px solid black;
    border-color: rgb(243, 195, 64);
}
.button1{
    background-color: rgb(255, 97, 118);
    text-decoration: none;
    width: 650;
    color: white;
    padding: 15px 40px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    
}
#center{
    text-align: center;
    border-left: none 50px;
    margin-left: 300px;
    font-family: 'Poppins', sans-serif;
}
.nd-section{
    
    background-color: rgba(106, 188, 255, 0.555);
    box-shadow: 10px 20px 50px;
    border-left: 20px;
    width: 270px;
    height: 485px;
    margin-left: 200px;
    border-radius: 9px;
    
}
.nd-section img{
    width: 100%;
}
#second-sec{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.paragraph{
    text-align: center;
}
